# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/

# Django
*.log
db.sqlite3
db.sqlite3-journal
local_settings.py
staticfiles/
media/

# Environment
.env
.env.*
.venv
env/
venv/

# Docker
.docker/

# Celery
celerybeat-schedule
celerybeat.pid

# macOS
.DS_Store

# VSCode
.vscode/

# Node / React
node_modules/
dist/
dist-ssr/
build/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Coverage / Testing
.coverage
htmlcov/
.pytest_cache/